# Database (Prisma / Postgres)
# default from docker-compose
DATABASE_URL="mongodb://localhost:27017/doctors?replicaSet=rs0&directConnection=true&authSource=admin"

## Auth (JWT)
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
HASH_SALT_LENGTH=8

# SEED
SEED_PASSWORD="123456"

# Upload (AWS)
#AWS_BUCKET_NAME=
#AWS_ACCESS_KEY_ID=
#AWS_SECRET_ACCESS_KEY=
